html, a, ul, h4, li, h1, h3{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body{
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #666;
  background-color: slategrey

}

ol, ul{
  list-style: none;
}

blockquote, q {
  quotes: none;
}

.conteiner {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

h1{
  font-size: 2rem;
}

h3{
  font-size: 1.6rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:hover,
a:focus,
a:active{
  background: #487922;
  text-decoration: none ;
  color: #fff;
}

header{
  background: #487922;
}

.top-bar{
  padding: 0px;
  font-size: 12px;
  border-bottom: 0.4px solid #3b621c;
  min-height: 40px;
}

.main-header{
  padding: 20px 0 25px ;
}




.conteiner.white {
  background-color: white;
  padding: 10px;
}

.well{
  display: block;
  margin-top: 30px ;
  padding-bottom: 15px;
}

.footer .footer-bottom{
  padding-top: 20px;
  padding-bottom: 30px;
  background: #202020;
}

.footer .footer-bottom ul li a  {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  line-height: 30px;
  display: block;
  position: relative;
  margin-left: 23px;
  text-decoration: none;
}

.footer-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.footer-title a{
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.4rem;
  text-decoration: none;
}

.flex-conteiner{
  display: flex;
  justify-content: space-between;
}

.flex-item{
  margin-right: 30px;
}

